:root {
  --primary-color: hsl(213, 96%, 18%);
  --primary-text: hsl(243, 100%, 62%);
  --secondary-text: hsl(231, 11%, 63%);
}

html {
  background-color: hsl(218, 100%, 97%);
}

body {
  font-family: "Ubuntu", sans-serif;
}

.active {
  background-color: hsl(206, 94%, 87%);
  border-color: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
}